blinker==1.8.2
boto3==1.34.110
botocore==1.34.110
click==8.1.7
DateTime==5.5
dnspython==2.6.1
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.5
pymongo==4.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
s3transfer==0.10.1
six==1.16.0
urllib3==1.26.15
Werkzeug==3.0.3
zope.interface==6.4
